html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
/* Scrollbar  */
::-webkit-scrollbar {
  display: none;
}
/* TEXT HIGHLIGHT  */
::selection {
  background: #6bf04a;
  color: #000;
}
/* FONT  */
@font-face{
  font-family: myFont;
  src:url(Garet-Book.otf);
}
*{
  font-family: myFont;
}
@font-face{
  font-family: myFontBold;
  src:url(GothamOffice-Bold.otf);
}
h1, .fontSpecial{
  font-family: myFontBold;
  font-weight: 300;
}   
*{
  color: #fff;
}
.navbar {
  position: fixed;
  width: 98%;
  top: 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 1px solid #777;
  border-radius: 10px;
  transition: background 0.3s, backdrop-filter 0.3s;
  backdrop-filter: blur(10px);
  z-index: 1000;
  color: #000;
  margin: 10px;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Logo styling */
.logo {
  margin-left: 10px;
  height: 25px;
  width: auto;
}
.dropdown-select {
  margin: 0px 10px 0px 0px;
  background-color: #1c1c1c; 
  color: #fff;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 8px 4%;
  font-size: 13px;  
  cursor: pointer; 
  height: 100%;
}

.dropdown-select:focus {
  outline: none;
  border-color: #555;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0;
  background-color: #00192a;
}
.widget {
  margin: 20px;
  border: 1px solid #777;
  border-radius: 5px;
  width: 98vw;  backdrop-filter: blur(10px);

}
select {
  margin-bottom: 20px;
}
.order-book-container {
  display: flex;
  flex-direction: column;
  background-color: #0e1820; 
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  height: 400px;
  overflow-y: auto;
  position: relative;
}

.order-book-header {
  display: flex;
  justify-content: space-between;
  background-color: #0e1820;
  /* border: 1px solid #333; */
  border-radius: 5px;
  position: sticky;
  width: 100%;
  padding: 10px 0px;
}

.order-book-header select {
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid #444;
  padding: 5px;
  border-radius: 3px;
}

.order-book-sections {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.order-book-section {
  flex: 1;
  margin: 0 5px;
}

.order-book-table {
  width: 100%;
}


.order-book-header-cell {
  flex: 1;
  text-align: left;
  /* padding: 5px; */
  font-size: 11px;
  font-weight: bold;
}

.order-book-body {
  max-height: calc(100% - 30px);
  overflow-y: auto;
}

.order-book-row {
  display: flex;
  border-bottom: 1px solid #333;
  padding: 5px;
}

.order-book-cell {
  flex: 1;
  padding: 5px;
  font-size: 11px;
}

.order-book-cell-bid {
  color: green;
}

.order-book-cell-ask {
  color: red;
}

.order-book-cell {
  color: #fff; 
}


/* TOP OF BOOK STYLING  */
.top-of-book-container {
  background-color: #0e1820;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-of-book-title {
  margin: 5px 0px 0px 0px;
  font-size: 20px;
}

.top-of-book-section {
  margin-bottom: 20px;
}

.top-of-book-tables {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-of-book-table {
  width: 98%;
}

.top-of-book-header {
  display: flex;
  border-bottom: 1px solid #333;
  background-color: #1c1c1c;
  padding: 5px;
}

.top-of-book-header-cell {
  flex: 1;
  text-align: left;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
}

.top-of-book-body {
  max-height: calc(100% - 30px);
  overflow-y: auto;
}

.top-of-book-row {
  display: flex;
  border-bottom: 1px solid #333;
  padding: 5px;
}

.top-of-book-cell {
  flex: 1;
  padding: 5px;
  font-size: 14px; 
}

.top-of-book-summary {
  margin-top: 20px;
}

.top-of-book-loading {
  color: #fff;
}
